USE [master]
GO
/****** Object:  Database [TB_PRODUCTOS]    Script Date: 24/09/2016 1:51:44 p. m. ******/
CREATE DATABASE [TB_PRODUCTOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TB_PRODUCTOS', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.TOURESBALON_PROD\MSSQL\DATA\TB_PRODUCTOS.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TB_PRODUCTOS_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.TOURESBALON_PROD\MSSQL\DATA\TB_PRODUCTOS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TB_PRODUCTOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TB_PRODUCTOS]
GO
/****** Object:  User [touresbalon]    Script Date: 24/09/2016 1:51:44 p. m. ******/
CREATE USER [touresbalon] FOR LOGIN [touresbalon] WITH DEFAULT_SCHEMA=[dbo]
GO
USE [TB_PRODUCTOS]
GO
/****** Object:  Sequence [dbo].[SEC_CIUDAD_ID]    Script Date: 24/09/2016 1:51:44 p. m. ******/
CREATE SEQUENCE [dbo].[SEC_CIUDAD_ID] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [TB_PRODUCTOS]
GO
/****** Object:  Sequence [dbo].[SEC_PRODUCTO_ID]    Script Date: 24/09/2016 1:51:44 p. m. ******/
CREATE SEQUENCE [dbo].[SEC_PRODUCTO_ID] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [TB_PRODUCTOS]
GO
/****** Object:  Sequence [dbo].[SEC_TARCIU_ID]    Script Date: 24/09/2016 1:51:44 p. m. ******/
CREATE SEQUENCE [dbo].[SEC_TARCIU_ID] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [TB_PRODUCTOS]
GO
/****** Object:  Sequence [dbo].[SEC_TARESP_ID]    Script Date: 24/09/2016 1:51:44 p. m. ******/
CREATE SEQUENCE [dbo].[SEC_TARESP_ID] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [TB_PRODUCTOS]
GO
/****** Object:  Sequence [dbo].[SEC_TARHOS_ID]    Script Date: 24/09/2016 1:51:44 p. m. ******/
CREATE SEQUENCE [dbo].[SEC_TARHOS_ID] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [TB_PRODUCTOS]
GO
/****** Object:  Sequence [dbo].[SEC_TARTRANS_ID]    Script Date: 24/09/2016 1:51:45 p. m. ******/
CREATE SEQUENCE [dbo].[SEC_TARTRANS_ID] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE 1
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[CIUDAD]    Script Date: 24/09/2016 1:51:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CIUDAD](
	[id_ciudad] [int] NOT NULL,
	[nombre_ciudad] [varchar](40) NULL,
	[pais] [varchar](100) NULL,
	[id_tarifa_ciudad] [int] NULL,
 CONSTRAINT [PK_CIUDAD] PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 24/09/2016 1:51:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[id_producto] [int] NOT NULL,
	[nombre_producto] [varchar](100) NULL,
	[id_espectaculo] [int] NULL,
	[id_transporte] [int] NULL,
	[id_hospedaje] [int] NULL,
	[id_ciudad] [int] NULL,
	[fecha_salida] [datetime] NULL,
	[fecha_llegada] [datetime] NULL,
	[fecha_espectaculo] [datetime] NULL,
	[url_imagen] [varchar](1000) NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TARIFA_CIUDAD]    Script Date: 24/09/2016 1:51:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TARIFA_CIUDAD](
	[id_tarifa_ciudad] [int] NOT NULL,
	[tipo_ciudad] [varchar](50) NULL,
	[precio] [decimal](9, 2) NULL,
 CONSTRAINT [PK_TARIFA_CIUDAD] PRIMARY KEY CLUSTERED 
(
	[id_tarifa_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tarifa_espectaculo]    Script Date: 24/09/2016 1:51:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tarifa_espectaculo](
	[id_espectaculo] [int] NOT NULL,
	[nombre_espectaculo] [varchar](4000) NULL,
	[precio] [decimal](9, 2) NULL,
 CONSTRAINT [PK_Tarifa_espectaculo] PRIMARY KEY CLUSTERED 
(
	[id_espectaculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tarifa_hospedaje]    Script Date: 24/09/2016 1:51:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tarifa_hospedaje](
	[id_hospedaje] [int] NOT NULL,
	[nombre_hospedaje] [varchar](4000) NULL,
	[precio] [decimal](9, 2) NULL,
 CONSTRAINT [PK_Tarifa_hospedaje] PRIMARY KEY CLUSTERED 
(
	[id_hospedaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tarifa_transporte]    Script Date: 24/09/2016 1:51:45 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tarifa_transporte](
	[id_transporte] [int] NOT NULL,
	[nombre_transporte] [varchar](4000) NULL,
	[precio] [decimal](9, 2) NULL,
 CONSTRAINT [PK_tarifa_transporte] PRIMARY KEY CLUSTERED 
(
	[id_transporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CIUDAD]  WITH CHECK ADD  CONSTRAINT [FK_CIUDAD_TARIFA_CIUDAD] FOREIGN KEY([id_tarifa_ciudad])
REFERENCES [dbo].[TARIFA_CIUDAD] ([id_tarifa_ciudad])
GO
ALTER TABLE [dbo].[CIUDAD] CHECK CONSTRAINT [FK_CIUDAD_TARIFA_CIUDAD]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_CIUDAD] FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[CIUDAD] ([id_ciudad])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_CIUDAD]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_Tarifa_espectaculo] FOREIGN KEY([id_espectaculo])
REFERENCES [dbo].[Tarifa_espectaculo] ([id_espectaculo])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_Tarifa_espectaculo]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_Tarifa_hospedaje] FOREIGN KEY([id_hospedaje])
REFERENCES [dbo].[Tarifa_hospedaje] ([id_hospedaje])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_Tarifa_hospedaje]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_tarifa_transporte] FOREIGN KEY([id_transporte])
REFERENCES [dbo].[tarifa_transporte] ([id_transporte])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_tarifa_transporte]
GO
USE [master]
GO
