@using B2CTouresBalon.Controllers
@using B2CTouresBalon.Models
@model Cart

<table class="table">
    <tr>
        <th>
            Espectaculo
        </th>
        <th>
            Cantidad
        </th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.Producto
            </td>
            <td>
                @item.Cantidad
            </td>
        </tr>
    }
</table>
