@using B2CTouresBalon.Controllers
@using B2CTouresBalon.Models
@model Cart

<table class="table">
    <tr>
        <th>
            Espectaculo
        </th>
        <th>
            Ciudad
        </th>
        <th>
            Fecha
        </th>
        <th>
            Precio
        </th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.Producto.espectaculo
            </td>
            <td>
                @item.Producto.ciudad_espectaculo
            </td>
            <td>
                @item.Producto.fecha_llegada
            </td>
            <td>
                @item.Producto.ciudad_espectaculo.tipo_ciudad.precio
            </td>
        </tr>
    }
</table>
