@using B2CTouresBalon.Models
@using B2CTouresBalon.ServiceProxyB2C
@model B2CTouresBalon.Models.ProductsViewModel
@{
    ViewBag.Title = "Home Page";
}

<!-- Carousel -->
<div id="Promotions" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @{
            var i = 0;
            foreach (var producto in Model.Promociones)
            {
                var itemClass = i++ == 0 ? "active" : "";
                <li data-target="#Promotions" data-slide-to="@i" class="@itemClass"></li>
            }
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @{
            var j = 0;
            foreach (var producto in Model.Promociones)
            {
                var itemClass = j++ == 0 ? "item active" : "item";
                <div class="@itemClass">
                    <img class="first-slide" src="http://placehold.it/1200x300" alt="slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>@producto.espectaculo</h1>
                            <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <a class="left carousel-control" href="#Promotions" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#Promotions" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>