@using B2CTouresBalon.Models

@model RespuestaCancelacionModel 


<img alt="Orden Cancelada" src="~/Image/shopping-cart-cancel-button.png" />

<h2>@Model.respuesta</h2><br /><br />
@Html.ActionLink("Regresar","Index") 
